<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Inicio</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="La mejor tienda online con los últimos productos a la venta y con las mejores ofertas del mercado. Aprovecha ya y hazte con ellas. Página principal después de loguearse." />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{../css/estilos.css}">
<link rel="stylesheet" type="text/css" th:href="@{../css/inicio.css}">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/}">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" href="productos.html"
					th:href="@{/list}">Productos</a></li>
				<li class="nav-item"><a class="nav-link" href="galeria.html"
					th:href="@{/galeria}">Galería</a></li>
				<li class="nav-item"><a class="nav-link"
					href="informacion.html" th:href="@{/info}">Acerca de</a></li>

				<!-- Carrito -->

				<li class="carrito nav-item"><a class="nav-link" href="#"
					th:href="@{/carrito}"> <img th:src="@{/img/carrito.png}"
						alt="carrito compra">
				</a></li>

				<!-- Dropdown -->
				<li class="desplegable nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"> <span th:text="${usuario.username}"></span>
				</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#"
							th:href="@{/editar/{id}(id=${usuario.id})}">Editar perfil</a> <a
							class="dropdown-item" th:href="@{/logout}"
							href="javascript:document.getElementById('logoutForm').submit()">Cerrar
							sesión </a>
					</div></li>
			</ul>
		</nav>
	</header>

	<main > <!--Tabla-->
	<div class="table-responsive" id="tabla" th:if="${pedidos != 0}">
		<h1 class="text-center mt-5">Historial de pedidos</h1>
		<table class="table table-striped w-75">
			<thead>
				<tr>
					<th scope="col">ID Pedido</th>
					<th scope="col">Fecha</th>
					<th scope="col">Frecio final</th>
					<th scope="col"></th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${pedidos}">
					<td th:text="${pedido.id}"></td>
					<td th:text="${#temporals.format(pedido.fecha, 'dd/MM/yyyy')}"></td>
					<td
						th:text="${#numbers.formatDecimal(pedido.precioFinal, 1, 2,'COMMA')} + '€'"></td>
					<td><a href=""
						th:href="@{/historico/detalles{id}(id=${pedido.id})}">Detalles</a></td>
				</tr>
				<tr>
					<td> </td>
					<td> </td>
					<td> 
						<h3>Total gastado</h3>
					</td>
					<td></td>
					<td class="text-right">
						<h5>
							<strong
								th:text="${#numbers.formatDecimal(totalGastado, 1, 2,'COMMA')} + '€'">100€</strong>
						</h5>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</main>

	<div class="row" th:if="${pedidos} != 0">
		<div class="form-group col-md-1 mx-auto">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>

		<div class="col-3"></div>
		<div class="col-4" style="text-align: center;">
			<nav aria-label="Page navigation example mx-auto">
				<ul th:if="${pedidos.totalPages != 1}"
					class="pagination pagination-circle pg-blue">
					<li th:class="${pedidos.number == 0} ? disabled"
						class="page-item disabled"><a
						th:href="@{/(pageSize=${selectedPageSize}, page=1)}"
						class="page-link">First</a></li>

					<li th:class="${pedidos.number == 0} ? disabled"
						class="page-item disabled"></li>
					<a
						th:href="@{/(pageSize=${selectedPageSize}, page=${pedidos.number})}"
						class="page-link" aria-label="Previous"> <span
						aria-hidden="true">&larr;</span>
					</a>

					<li
						th:class="${pedidos.number == (page - 1)} ? 'active pointer-disabled'"
						class="page-item active"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a th:href="@{/(pageSize=${selectedPageSize}, page=${page})}"
						class="page-link" th:text="${page}">1</a>
					</li>

					<li
						th:class="${pedidos.number + 1 == pedidos.totalPages} ? disabled"
						class="page-item"><a
						th:href="@{/(pageSize=${selectedPageSize}, page=${pedidos.number + 2})}"
						class="page-link">&rarr;</a></li>

					<li
						th:class="${pedidos.number + 1 == pedidos.totalPages} ? disabled"
						class="page-item"><a
						th:href="@{/(pageSize=${selectedPageSize}, page=${pedidos.totalPages})}"
						class="page-link">Last</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-4"></div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/paginacion.js}"
		src="/js/paginacion.js"></script>
</body>

</html>