<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Productos</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="La mejor tienda online con los últimos productos a la venta y con las mejores ofertas del mercado. Aprovecha ya y hazte con ellas. Página con la lista de los productos para poder comprarlos." />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{../css/estilos.css}">
<link rel="stylesheet" type="text/css" th:href="@{../css/productos.css}">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="inicio.html"
					th:href="@{/}">Inicio</a></li>
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/list}">Productos</a></li>
				<li class="nav-item"><a class="nav-link" href="galeria.html"
					th:href="@{/galeria}">Galería</a></li>
				<li class="nav-item"><a class="nav-link"
					href="informacion.html" th:href="@{/info}">Acerca de</a></li>

				<!-- Carrito -->
				<li class="carrito nav-item"><a class="nav-link" href="#"
					th:href="@{/carrito}"> <img th:src="@{/img/carrito.png}"
						alt="carrito compra">
				</a></li>

				<!-- Dropdown -->
				<li class="desplegable nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"> <span th:text="${usuario.username}"></span>
				</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#"
							th:href="@{/editar/{id}(id=${usuario.id})}">Editar perfil</a> <a
							class="dropdown-item" th:href="@{/logout}"
							href="javascript:document.getElementById('logoutForm').submit()">Cerrar
							sesión</a>
					</div></li>
			</ul>
		</nav>
	</header>

	<nav class="navbar navbar-expand-sm navbar-dark">
		<form class="form-inline" action="#" th:action="@{/list}" method="GET">
			<input class="form-control mr-sm-2" type="text" name="modelo"
				placeholder="Buscar por nombre">
			<button class="btn btn-success" type="submit">Buscar</button>
		</form>
	</nav>

	<div class="row">
		<div class="col-lg-3 col-md-6 mb-lg-0 mb-4 mt-4"
			th:each="producto : ${productos}">
			<div class="card m-4" style="width: 18rem;">
				<img class="card-img-top" th:src="@{/images/}+${producto.fileUrl}"
					alt="Imagen del producto">
				<div class="card-body">
					<!-- TITULO PRODUCTO -->
					<h5 class="card-title" th:text="${producto.modelo}">Card title</h5>
					<!-- TEXTO -->
					<ul>
						<li class="card-text"><span>Color: </span><span
							th:text="${producto.color}"></span></li>
						<li class="card-text"><span>Capacidad: </span><span
							th:text="${producto.capacidad}"></span></li>
						<li class="card-text"><span>RAM: </span><span
							th:text="${producto.ram}"></span></li>
						<li class="card-text"><span>Fecha de lanzamiento: </span><span
							th:text="${producto.fecha}"></span></li>
						<li class="card-text"><span>Stock: </span><span
							th:text="${producto.cantidad}"></span></li>
					</ul>
					<p class="card-text text-center">
						<span>Precio: </span> <span
							th:text="${#numbers.formatDecimal(producto.precio, 1, 2,'COMMA')} + ' €'"></span>
					</p>
					<!-- LINK CARRITO COMPRA -->
					<a href="#" th:href="@{/carrito/add/{id}(id=${producto.id})}"
						class="btn btn-primary">Añadir a carrito</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-1 mx-auto">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>

		<div class="col-3"></div>
		<div class="col-4" style="text-align: center;">
			<nav aria-label="Page navigation example mx-auto">
				<ul th:if="${productos.totalPages != 1}"
					class="pagination pagination-circle pg-blue">
					<li th:class="${productos.number == 0} ? disabled"
						class="page-item disabled"><a
						th:href="@{/list/(pageSize=${selectedPageSize}, page=1)}"
						class="page-link">First</a></li>

					<li th:class="${productos.number == 0} ? disabled"
						class="page-item disabled"></li>
					<a
						th:href="@{/list/(pageSize=${selectedPageSize}, page=${productos.number})}"
						class="page-link" aria-label="Previous"> <span
						aria-hidden="true">&larr;</span>
					</a>

					<li
						th:class="${productos.number == (page - 1)} ? 'active pointer-disabled'"
						class="page-item active"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a th:href="@{/list/(pageSize=${selectedPageSize}, page=${page})}"
						class="page-link" th:text="${page}">1</a>
					</li>

					<li
						th:class="${productos.number + 1 == productos.totalPages} ? disabled"
						class="page-item"><a
						th:href="@{/list/(pageSize=${selectedPageSize}, page=${productos.number + 2})}"
						class="page-link">&rarr;</a></li>

					<li
						th:class="${productos.number + 1 == productos.totalPages} ? disabled"
						class="page-item"><a
						th:href="@{/list/(pageSize=${selectedPageSize}, page=${productos.totalPages})}"
						class="page-link">Last</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-4"></div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/paginacion.js}"
		src="/js/paginacion.js"></script>
</body>

</html>