fieldset {
	border: 1px solid black;
}

legend {
	font-size: 14pt;
}

footer {
	clear: both;
	color: black;
	background-color: grey;
}

body {
	height: 100vh;
}

a:visited, a:active {
	text-decoration: none;
	color: darkblue;
}

/* STRUCTURE */
#formContent {
	border-radius: 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
}

/* FORM TYPOGRAPHY*/
input[type=submit] {
	background-color: #56baed;
	border: none;
	color: white;
	padding: 15px 80px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	border-radius: 5px;
	margin: 5px 20px 40px 20px;
}

input[type=submit]:hover {
	background-color: #39ace7;
}

input[type=text], input[type=password] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
	color: #cccccc;
}